
# Main directory
BASE_DIR=/work/geisingerlab/Mark/rnaSeq/2024-06-07_bowtie_sRNAs-from-palethorpe
SCRIPT_DIR=${BASE_DIR}/scripts

FASTQDIR=/work/geisingerlab/Mark/rnaSeq/palethorpe_sRNAs_fixed_2024-05-30/data/rawreads

# STAR genomeGenerate
REFERENCE_DIR=${BASE_DIR}/ref
GENOME_GTF=$REFERENCE_DIR/srnas_17961_fixedlength_20240523.gtf
GENOME_REF_DIR=$REFERENCE_DIR/17961_sRNA_genomeGenerate

# prep sample sheet
# IMPORTANT NOTE: assumes each sample file is in the format: WT_1_S84_trimmed_R2.fastq
PAIRED_OUTDIR=${BASE_DIR}/data/trimmed/paired/
SAMPLE_SHEET_PATH=${PAIRED_OUTDIR}sample_sheet.txt

# STAR alignRNA
# IMPORTANT NOTE: In the sbatch_starAlignRNA script, change the `#SBATCH --array=` line to read `=1-[n]%[n+1]` where [n] is the number of biological samples (e.g. n=9 for 3 strains each in triplicate)
# GENOME_REF_DIR assigned above
# SAMPLE_SHEET_PATH assigned above
DATA_DIR=${BASE_DIR}/data
# .bam files will be sent to $DATA_DIR/mapped

########################
# Main directory
BASE_DIR=/work/geisingerlab/Mark/rnaSeq/2024-04-03_pbpGlpsB_clean-redo/test_bowtie

# prep sample sheet
# IMPORTANT NOTE: assumes each sample file is in the format: WT_1_S84_trimmed_R2.fastq
# FASTQDIR assigned above
FASTQDIR=/work/geisingerlab/Mark/rnaSeq/2024-04-03_pbpGlpsB_clean-redo/input/fastq
SAMPLE_SHEET_PATH=${BASE_DIR}/sample_sheet.txt

# Bowtie2 build
# Comma-separated fasta files
REF_CHR_FA=/work/geisingerlab/Mark/REF_GENOMES/17978-mff/NZ_CP012004.fasta
REF_PAB1_FA=/work/geisingerlab/Mark/REF_GENOMES/17978-mff/CP000522.fasta
REF_PAB2_FA=/work/geisingerlab/Mark/REF_GENOMES/17978-mff/CP000523.fasta
REF_PAB3_FA=/work/geisingerlab/Mark/REF_GENOMES/17978-mff/NZ_CP012005.fasta
# base name of output files
BT2_OUT_BASE=17978_mff
#GENOME_INDEX_DIR=${BASE_DIR}/ref/AB_17978_ega83

# Bowtie2 aligner
# Use BT2_OUT_BASE from above
MAPPED_DIR=$BASE_DIR/data/mapped

# featureCounts (subread package)
# See README.md in `/work/geisingerlab/Mark/REF_GENOMES/17978-mff/` for details on merged gtf file construction
GENOME_GTF=/work/geisingerlab/Mark/REF_GENOMES/17978-mff/merged_17978-mff.gtf
COUNTS_OUTDIR=${BASE_DIR}/data/featurecounts
COUNTS_FILE=counts_bowtie.txt
# MAPPED_DIR defined above
